body {
  background-color: #0f6aae;
  color: white;
  letter-space: 08em; 
  font-size: 1.4em; 
  padding: 0px; 
} 

h1 {
  font-family: Arial, helvetica, sans ferif; 
}

p {
  font-family: serif, hevetica, arial;
} 

ul {
  font-family:  serif, heveetica, arial;
  font-size: 1.2em;
  text-align: center;
  padding: 0px; 
} 
li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}